body {
    background: #0a0a23;
    overflow: hidden;
}



#time {
    text-align: center;
    margin-top: 15%;
    font-size: 120px;
    font-family: 'Iceberg', cursive;
    color: #fee715ff;
    font-weight: 300;
}

#tzone {
    text-align: center;
    font-size: 50px;
    font-family: 'Iceberg', cursive;
    color: #fee715ff;
    font-weight: 300;    
}

#date {
    text-align: center;
    margin-top: 2%;
    font-size: 40px;
    font-family: 'Iceberg', cursive;
    color: #fee715ff;
}
hr {
    width: 50%;
}



